<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Curescience</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/SD-Circle-Logo-2Color.jpg' %}">
    <!-- Custom CSS -->
    <link href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/dist/css/style.css"
        rel="stylesheet">

    <style>
        ::selection {
            color: white;
            background: blue;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <header class="py-3 " style="background:#25215E;">
            <div class="container">
                <!-- Start Header -->
                <div class="header">
                    <nav class="navbar navbar-expand-md navbar-light px-0">
                        <a class="navbar-brand" href="https://www.curescience.org/">
                            <img src="{% static 'images/CureScience.webp' %}" style="height: 80%; width: 80%;" alt="icon" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item pr-3">
                                    <a href="https://www.curescience.org/"
                                        class="btn btn-custom btn-outline-info btn-lg" style="color: aliceblue;border-color:aliceblue;" target="https://www.curescience.org/">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- End Header -->
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper part -->
        <!-- ============================================================== -->
        <div class="content-wrapper">
            <!-- ============================================================== -->
            <!-- Demos part -->
            <!-- ============================================================== -->
            <section class="spacer bg-light">
                <div class="row justify-content-center">
                    <!-- <div class="col-md-6 order-md-2">
                      <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                    </div> -->
                    <div class="col-md-8 contents">
                      <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">PRIVACY POLICY</h3>
                                <p style="color:#202020">We place a high value on maintaining your privacy. We believe that the following statements will help you understand how we handle your personal information and other information.</p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">Information we collect</h3>
                                <p style="color:#202020">1.) Personal Information: We collect personal information that you voluntarily provide to us when you register on the website. We only take your name while you register on the website.
                                    <br>2.) Cookies and Ads: We do not show any ads on our website. Cookies are only used for the registration process which requires those recognise the user as registration of the user and their wearable account is a multiple step process.
                                    <br>3.) Health Kit and Wearables: On Registering you will give us the permission to read your health and fitness data. We dont modify or alter your data. At any time you can deny access to our app from your wearable website or app.
                                    </p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">How we use your information</h3>
                                <p style="color:#202020">1.) To facilitate registration process.
                                    <br>2.) We use your information to for study purposes only.
                                    <br>3.) Your wearable login credentials will not be stored anywhere.
                                    <br>4.) You can review the information we collect from wearables on the page where you allow access.
                                   </p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">Will your information be shared with anyone?</h3>
                                <p style="color:#202020">Your information will not be shared with anyone and will be kept securely</p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">What are your privacy rights?</h3>
                                <p style="color:#202020">You may terminate your account at any time from the website of the wearable you linked with us.
                                </p>
                            </div>
                              

                        </div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
            </section>
        </div>
        <!-- ============================================================== -->
        <!-- End page wrapperHeader part -->
        <!-- ============================================================== -->
        <footer class="text-center p-4"> All Rights Reserved by Curescience </footer>
    </div>
</body>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/popper.js/dist/umd/popper.min.js"></script>
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>



</html>