<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Curescience</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/SD-Circle-Logo-2Color.jpg' %}">
    <!-- Custom CSS -->
    <link href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/dist/css/style.css"
        rel="stylesheet">

    <style>
        ::selection {
            color: white;
            background: blue;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->
        <header class="py-3 " style="background:#25215E;">
            <div class="container">
                <!-- Start Header -->
                <div class="header">
                    <nav class="navbar navbar-expand-md navbar-light px-0">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'images/CureScience.webp' %}" style="height: 20%; width: 20%;" alt="icon" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item pr-3">
                                    <a href="https://www.curescience.org/"
                                        class="btn btn-custom btn-outline-info btn-lg" style="color: aliceblue;border-color:aliceblue;" target="https://www.curescience.org/">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- End Header -->
            </div>
        </header>
        <!-- ============================================================== -->
        <!-- Header part -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper part -->
        <!-- ============================================================== -->
        <div class="content-wrapper">
            <!-- ============================================================== -->
            <!-- Demos part -->
            <!-- ============================================================== -->
            <section class="spacer bg-light">
                <div class="row justify-content-center">
                    <!-- <div class="col-md-6 order-md-2">
                      <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                    </div> -->
                    <div class="col-md-8 contents">
                      <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">PRIVACY POLICY</h3>
                                <p style="color:#202020">We place a high value on maintaining your privacy. We believe that the following statements will help you understand how our app handles your personal information and other information.</p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">Information we collect</h3>
                                <p style="color:#202020">1.) Personal Information: We collect personal information that you voluntarily provide to us when you register on the app. We collect phone numbers, country codes and usernames. We also collect information regarding push notifications when you use our app. We send you push notifications in the form of OTP (one time passwords) to verify the mobile numbers. We request access to your mobile device’s SMS messages so that you can successfully receive OTP. This information is primarily needed to maintain the operation of our app.
                                    <br>2.) Cookies and Ads: We do not send any cookies files to your mobile device and the application is Ad free.
                                    <br>3.) Health Kit and Wearables: You will have an option to link and import health data into the app from third party services like Google Fit, Fitbit, OuraRing etc.
                                    </p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">How we use your information</h3>
                                <p style="color:#202020">1.) To facilitate account creation and logon process.
                                    <br>2.) We use your information to manage your account and keep it in working order.
                                    <br>3.) We collect your phone number and country code to send the OTP to your device.
                                    <br>4.) We may use your information in order to enable user to user communications.
                                    <br>5.) Your Health kit and wearable credentials will not be stored anywhere.
                                    <br>6.) You can review the information we collect from wearables on the page where you allow access.
                                   </p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">Will your information be shared with anyone?</h3>
                                <p style="color:#202020">If you interact with other users of our app, only then your information will be shared to them.</p>
                            </div>
                            <div class="form-block">
                                <div class="mb-4">
                                <h3 style="color:#202020">What are your privacy rights?</h3>
                                <p style="color:#202020">You may review, change or terminate your account at any time.
                                </p>
                            </div>
                              

                        </div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
            </section>
        </div>
        <!-- ============================================================== -->
        <!-- End page wrapperHeader part -->
        <!-- ============================================================== -->
        <footer class="text-center p-4"> All Rights Reserved by Curescience </footer>
    </div>
</body>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/popper.js/dist/umd/popper.min.js"></script>
<script
    src="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

</html>